{% set users_finished_shuffled = book.user_relationships|selectattr("review", "ne", none) | list | shuffle %}
{% set n_reviews = users_finished_shuffled|length %}
{% if n_reviews < 3 %}
  {% set n = n_reviews %}
{% else %}
  {% set n = 3 %}
{% endif %}
<div class="band-content">
  <div class="book-cover-col">
    {{ render_partial('shared/partials/content_elements/thumbnail.html', image=book.cover_url) }}
  </div>
  <div class="content-col">
    <div class="row no-gutters flex-nowrap">
      {% set hide_classes = ["", "d-none d-md-block", "d-none d-lg-block"] %}
      {% for i in range(0,n) %}
        {% set relationship = users_finished_shuffled[i] %}
        {% set hide_class = hide_classes[i] %}
        <div class="{{ hide_class }} col">
          {{ render_partial('shared/partials/content_elements/review_user.html', relationship=relationship) }}
        </div>
      {% endfor %}
    </div>
  </div>
</div>