{% set n_books_read = user.book_relationships|selectattr("status", "eq", BookStatusEnum.FINISHED) | list | length %}
{% set n_reviews = user.book_relationships|selectattr("review", "defined") | list | length %}
{% set pc_reviewed = (100*n_reviews/n_books_read)|round|int %}
<div class="row h-75 w-100 p-4">
  <div class="col">
    <h3>Total books read: {{ n_books_read }}</h3>
  </div>
  <div class="col">
    <h3>Reviews written: {{ n_reviews }}</h3>
  </div>
  <div class="col">
    <h3>Percentage reviewed: {{ pc_reviewed }}%</h3>
  </div>
</div>