{% set books_finished_shuffled = user.book_relationships|selectattr("status", "eq", BookStatusEnum.FINISHED) | list | shuffle %}
{% set n_reviews = books_finished_shuffled|length %}
{% if n_reviews < 2 %}
  {% set n = n_reviews %}
{% else %}
  {% set n = 2 %}
{% endif %}
<div class="band-content">
  <div class="row no-gutters flex-nowrap">
    {% set hide_classes = ["", "d-none d-lg-block"] %}
    {% for i in range(0,n) %}
      {% set relationship = books_finished_shuffled[i] %}
      {% set hide_class = hide_classes[i] %}
      <div class="{{ hide_class }} col book-link-shade">
        <div class="book-link-shade">
          <div class="review">
            <div class="book-cover-col">
              {{ render_partial('shared/partials/content_elements/book_cover.html', book=relationship.book) }}
            </div>
            <div class="content-col">
            {{ render_partial('shared/partials/content_elements/review_book.html', relationship=relationship) }}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
