{% set n_books_read = user.books_read|length %}
{% set n_reviews = user.reviews|length %}
{% set pc_reviewed = (100*n_reviews/n_books_read)|round|int %}
<div class="row h-75 w-100">
  <div class="col">
    <h3>Total books read: {{ n_books_read }}</h3>
  </div>
  <div class="col">
    <h3>Reviews written: {{ n_reviews }}</h3>
  </div>
  <div class="col">
    <h3>Percentage reviewed: {{ pc_reviewed }}%</h3>
  </div>
</div>


<!-- 
  {% if shuffled_reading|length > 1 %}
    {% for i in range(0,5) %}
      {% if i < shuffled_reading|length %}
        {% set book = shuffled_reading[i] %}
        <div class="col-lg-4 mb-3 d-flex align-items-stretch">
          <div class="card w-50">
            <div class="card-body">
              <h5 class="card-title">{{ book.title }}</h5>
              <h6 class="card-subtitle">{{ book.author }}</h6>
              {% if book in current_user.books_reading %}
                <span class="badge badge-warning">Reading</span>
              {% elif book in current_user.books_read %}
                <span class="badge badge-success">Complete</span>
              {% endif %}
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
</div> -->
