<div class="card-deck h-100">
  {% set shuffled_reading = user.books_reading|shuffle %}
  {% if shuffled_reading|length > 0 %}
    {% set book = shuffled_reading[0] %}
    {% set book_color = random_book_color() %}
    {{ render_partial('shared/partials/cards/book_card_static.html', book=book, book_status='book-reading', book_color=book_color) }}  
  {% endif %}
  {% set shuffled_read = user.books_read|shuffle %}
  {% set read_length = shuffled_read|length %}
  {% if read_length > 0 %}
    {% if read_length > 3 %}
      {% set n_read = 3 %}
    {% else %}
      {% set n_read = read_length %}
    {% endif %}
    {% for i in range(0,n_read) %}
      {% set book = shuffled_read[i] %}
      {% set book_color = random_book_color() %}
      {{ render_partial('shared/partials/cards/book_card_static.html', book=book, book_status='book-read', book_color=book_color) }}
    {% endfor %}
  {% endif %}
</div>


<!-- 
  {% if shuffled_reading|length > 1 %}
    {% for i in range(0,5) %}
      {% if i < shuffled_reading|length %}
        {% set book = shuffled_reading[i] %}
        <div class="col-lg-4 mb-3 d-flex align-items-stretch">
          <div class="card w-50">
            <div class="card-body">
              <h5 class="card-title">{{ book.title }}</h5>
              <h6 class="card-subtitle">{{ book.author }}</h6>
              {% if book in current_user.books_reading %}
                <span class="badge badge-warning">Reading</span>
              {% elif book in current_user.books_read %}
                <span class="badge badge-success">Complete</span>
              {% endif %}
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
</div> -->
