:root {
  --user-band: #235d5e;
  --user-review-band: #235e51;
  --user-favourite-band: #23425e;
  --user-stats-band: #235e4c;
  --username-text: #ffffff;
  --book-band: #dd7616;
  --article-band: #5e2330;
  --book-text: #ffffff;
}

.form-search {
  display: inline-block;
  width: 45%;
  padding-right: 10px;
}

.bands-section {
  min-width: 100px;
}

.user-section {
  padding-bottom: 25px;
}


.finished-block
{
  background-color: darkgreen;
}

.nav-text {
  color:rgb(5, 84, 78)
}

.nav-pills > li > a.active {
  background-color:rgb(5, 84, 78) !important;
}

.reading-block
{
  background-color: darkgoldenrod;
}

.logo-section {
  padding-top: 25px;
  padding-bottom: 10px;
  color:rgb(5, 84, 78)
}

.band-header {
  width: 100%;
}

.band-header-block {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 5px;
}

.band-content {
  display: flex;
  padding: 5px;
}

.review {
  display: flex;
}

.band-row
{
  padding-top: 5px;
  padding-bottom: 5px;
}

.main-col {
  width: 100%;
}

.header-end {
  width: 200px;
  display: flex;
  justify-content: right;
}

.content-element {
  padding: 10px;
}

.band {
  color: rgb(255, 255, 255);
  transition: all .2s ease-in-out;
  margin-bottom: 5px;
}

.text-username {
  font-family: "Lucida Console", "Courier New", monospace;
}

.text-literary {
  font-family: "Georgia", Times, serif;
}

.stretched-link:link { 
  color: rgb(255, 255, 255);
}

.stretched-link​:hover { 
  color: rgb(146, 180, 146);
  text-decoration: none;
}

.band:hover { 
  transform: scale(1.05);
  z-index: 3000;
}

.band
{
  min-height: 150px;
  position: relative;
}


.user-band
{
  background-color: var(--user-band)
}

.user-review-band
{
  background-color: var(--user-review-band)
}

.user-favourite-band
{
  background-color: var(--user-favourite-band)
}

.user-stats-band
{
  background-color: var(--user-stats-band)
}

.book-band
{
  background-color: var(--book-band);
}

.article-band
{
  background-color: var(--article-band);
}

.page-content
{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.grid-container
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.multi-line-text-truncate {
  overflow: hidden;
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  line-clamp: 7;
  -webkit-box-orient: vertical;
  margin: 20px auto;
}