{% extends "base.html" %}{% block title %}{{ book.title }}{% endblock %}

{% block content %}
  {% set relationships = current_user.book_relationships|selectattr("book", "eq", book) | list %}
  {% if relationships | length != 0 %}
    {% set relationship = relationships[0] %}
  {% else %}
    {% set relationship = none %}
  {% endif %}
  <div class="page-section">
    <div class="logo-section"></div>
    <div class="info-section">
      <div class="row">
        <div class="col-2" style="min-width: 250px;">
          <img 
            src="{{ book.cover_url }}" 
            alt="cover" 
            height="300"
            onerror="this.onerror=null;this.src='/static/images/cover-blank.png';"
          />
        </div>
        <div class="col">
          <div class="band-content">
            <div class="band-header">
              <h2 class="text-literary">{{ book.title }}</h2>
              <h4 class="text-literary">{{ book.author }}</h4>
              <div class="status-section">
                {{ render_partial('shared/partials/symbols/symbol_logic.html', relationship=relationship, text=true) }}
              </div>
              <div class="buttons-section">
                {{ render_partial('shared/partials/buttons/button_logic.html', relationship=relationship, book=book) }}
              </div>
            </div>
            <div class="header-end">
              {% if book.average_rating != none %}
                <div class="band-header-block d-inline-block">
                  <h1>{{ book.average_rating | round(1)}}</h1>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="description-section">
      {% if book.description is not none %}
        <p class="description">
          {{ book.description }}
        </p>
      {% endif %}
    </div>
    <div class="reviews-section">
      <div class="reviews-header">
        <h2 class="text-literary">reviews</h2>
      </div>
      {% if relationship.status == BookStatusEnum.FINISHED and relationship.review == None %}
        <div class="reviews-me-section">
          <a href="{{ url_for('views.user', user_id=current_user.id) }}" class="text-username">{{ current_user.username }}</a>
          {{ render_partial('shared/partials/forms/review_form.html', form=form) }}
        </div>
      {% endif %}
      <div class="reviews-content-section">
        {% for relationship in book.user_relationships %}
          {% if relationship.review != None %} 
            <div class="row">
              <div class="content-element">
                <a href="{{ url_for('views.user', user_id=relationship.user.id) }}" class="text-username">{{ relationship.user.username }}</a>
                <div class="review-content-placeholder">{{ relationship.review }}</div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}