{% extends "base.html" %}{% block title %}Search{% endblock %}

{% block content %}
  <div class="page-section">
    <div class="logo-section">
      <h2>search for a book</h2>
    </div>
    <div class="content-section">
      <div class="form-section">
        {{ render_partial('shared/partials/forms/search_form.html', form=form) }}
      </div>
      <div class="books-section">
        {% set num_search_results = book_api|length %}
        {% if num_search_results > 0 %}
          {% set olid = book_api["olid"] %}
          {% if exists %}
            <div class="band book-band">
              {{ render_partial('shared/partials/headers/header_search.html', title=book.title, author=book.author, exists=exists, olid=olid, id=book.id) }}
              {{ render_partial('shared/partials/bands/book_info.html', image=book.cover_url, description=book.description) }}
            </div>
          {% else %}
            <div class="band book-band">
              {{ render_partial('shared/partials/headers/header_search.html', title=book_api["title"], author=book_api["author"], olid=olid, exists=exists) }}
              {{ render_partial('shared/partials/bands/book_info.html', image=book_api["cover_url"], description=book_api["description"]) }}
            </div>
          {% endif %} 
        {% else %}
          <div class="col placeholder bg-secondary"></div>
        {% endif %}     
      </div>
    </div>
  </div>
{% endblock %}




