<!-- BOOK-->
<div class="card border-dark mb-3">
  <div class="card-block text-dark" style="transform: rotate(0);">
    <div class="container m-2">
      <div class="row gx-2">
        <div class="col">
          <a class="stretched-link" href="{{ url_for('views.book', book_id=book.id) }}"></a>
            <img src="{{ book.cover_url_l }}" alt="cover" width="100">
          </a>
        </div>
        <div class="col">
          <h5 class="card-title">{{ book.title }}</h5>
          <h6 class="card-subtitle">{{ book.author }}</h6>
          <!-- <a class="stretched-link" href="{{ url_for('views.book', book_id=book.id) }}"></a> -->
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="btn-group" role="group" aria-label="Basic example">
      <form action="{{ url_for('views.finish_book') }}" method="POST"></form>
        <button class="btn btn-info btn-md" type="submit" name="finish" value="{{ book.id }}">Finish</button>
      </form>
      <form action="{{ url_for('views.remove_book') }}" method="POST"></form>
        <button class="btn btn-info btn-md" type="submit" name="remove" value="{{ book.id }}">Remove</button>
      </form>
    </div>
  </div>
</div>