<form method="POST">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col-11">
            <fieldset class="form-group">
                <div class="form-search form-group">
                    {{ form.title.label(class="form-control-label") }}
        
                    {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %} 
                    {{ form.title(class="form-control form-control-lg") }}
                {% endif %}
                </div>
                <div class="form-search form-group">
                    {{ form.author.label(class="form-control-label")}}
                    {% if form.author.errors %}
                    {{ form.author(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.author.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %} 
                    {{ form.author(class="form-control form-control-lg") }}
                {% endif %}
                </div>
            </fieldset>
        </div>
        <div class="col-1">
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </div>
    </div>
</form>
