{% set book = relationship.book %}
<div class="content-element">
  <div class="user-review">
    {% set user = relationship.user %}
    <div class="text-literary book-mini-title">{{ book.title }}</div>
    <div class="text-literary book-mini-author">{{ book.author }}</div>
    <div class="multi-line-text-truncate">
      {{ relationship.review }}
    </div>
  </div>
  <a class="stretched-link" href="{{ url_for('views.book', book_id=book.id) }}"></a>
</div>

<!-- <div class="book-mini-review m-3">
  {% set book = relationship.book %}
  <div class="book-cover">
    <img src="{{ book.cover_url_l }}" alt="cover">
  </div>
  <div class="book-mini-review-book px-2">
    <div class="book-mini-review-info">
        <div class="book-mini-title text-truncate">{{ book.title }}</div>
        <div class="book-mini-author">{{ book.author }}</div>
    </div>
    <div class="multi-line-text-truncate">
      {{ relationship.review }}
    </div>
  </div>
  <a class="stretched-link" href="{{ url_for('views.book', book_id=book.id) }}"></a>
</div> -->
